<html>
<head>
  <meta charset="UTF-8">
</head>
<body style="padding: 0; margin: 0; width: 100%; height: 100%;">
  <script>
    const electron = require('electron');
    const ipc = electron.ipcRenderer;
    const desktopCapturer = electron.desktopCapturer;

    setInterval(() => {
      desktopCapturer.getSources({ types: ['window'], thumbnailSize : { width: 1200, height: 1200 } })
        .then( sources => {
            for(let source of sources){
              if (source.name == "Deezer"){
                let img = source.thumbnail.toPNG();
                //console.log(img);
                ipc.send('process-ocr', img);
              }
            }
        })
    }, 10000);

  </script>
</body>
</html>